<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Hostocare | Healthcare at your fingertips</title>
<!--

HostoCare Landing Page

https://templatemo.com/tm-540-HostoCare-landing-page

-->


<script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}"">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-lava.css') }}"">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl-carousel.css') }}"">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            HostoCare
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#welcome" class="menu-item">Home</a></li>
                            <li class="scroll-to-section"><a href="#about" class="menu-item">About</a></li>
                            <!-- <li class="scroll-to-section"><a href="#testimonials" class="menu-item">Testimonials</a>
                            </li> -->
                            <li class="submenu">
                                <a href="/search">Search for</a>
                                <ul>
                                    <li><a href="/hospitals" class="">Hospitals</a></li>
                                    <li><a href="/labcentre" class="">Lab Centers</a></li>
                                    <li><a href="/clinics" class="">Clinics</a></li>
                                    <li><a href="/pharmacy" class="">Medical Store</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#contact-us" class="menu-item">Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
                        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1>Making healthcare accessible at <em>FINGERTIPS</em></h1>
                        <p>A platform in which the user can check and compare the availability of medical centers in their locality. Through the
                        <a href="http://apkllocation" download>App</a> and Web interface, the user can compare different hospitals, medical shops, Clinics and medical labs and their
                        specifications such as the availability of beds, doctors etc.</p> 
                        <a href="#about" class="main-button-slider">KNOW US BETTER</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>01</h2>
                            <img src="{{ url_for('static', filename='images/features-icon-2.png') }}" alt="">
                            <h4>Find nearby medical centers</h4>
                            <p>You can search for medical centers in accordance to their reviews, ratings and distance.</p>
                            <a href="#testimonials" class="main-button">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>02</h2>
                            <img src="{{ url_for('static', filename='images/features-icon-3.png') }}" alt="">
                            <h4>Compare medical centers</h4>
                            <p>You can compare medical centers by comparing their reviews, ratings, doctor availability etc.</p>
                            <a href="#testimonials" class="main-button">
                                Discover More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>03</h2>
                            <img src="{{ url_for('static', filename='images/features-icon-1.png') }}" alt="">
                            <h4>Rate medical centers</h4>
                            <p>You can create your profile and rate and review various medical centers based on your experience which can help others
                            effectively.</p>
                            <a href="#testimonials" class="main-button">
                                More Detail
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- <div class="left-image-decor"></div> -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="promotion">
        <div class="container">
            <div class="row">
                <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="{{ url_for('static', filename='images/left-image.png') }}" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
                    <ul>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                            <img src="{{ url_for('static', filename='images/about-icon-01.png') }}" alt="">
                            <div class="text">
                                <h4>Our Aim</h4>
                                <p>Through the app and web interface, you can compare the different hospitals, medical shops, Clinics and medical labs and
                                their specifications such as the availability of beds and doctors etc.</p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.5s">
                            <img src="{{ url_for('static', filename='images/about-icon-02.png') }}" alt="">
                            <div class="text">
                                <h4>Targeting Audience</h4>
                                <p>We aim to provide better facilities for those who need information about which medical expert they should visit or which
                                hospital provides better treatment and those seeking urgent healthcare.</p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.6s">
                            <img src="{{ url_for('static', filename='images/about-icon-03.png') }}" alt="">
                            <div class="text">
                                <h4>Supporting Devices</h4>
                                <p>This Application will be available on different Platforms including Android App Store and iOS App Store as well as a Web
                                Application for PC/Desktop & Mobiles.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- <div class="right-image-decor"></div> -->

    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="center-heading">
                        <h2>What Doctors Think <em>About Us</em></h2>
                        <p>Doctor's views on how Hostocare can impact the society and improve the healthcare facilities.</p>
                    </div>
                </div>
                <div class="col-lg-10 col-md-12 col-sm-12 mobile-bottom-fix-big"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="owl-carousel owl-theme">
                        <div class="item service-item">
                            <div class="author">
                                <i><img src="{{ url_for('static', filename='images/testimonial-author-1.png') }}" alt="Author One"></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h4>Dr. Ankit Bharat</h4>
                                <p>“Hostocare is something our society was missing, It is a project that has a huge potential and can change the perception
                                of healthcare”</p>
                                <span>Thoraic Surgeon</span>
                            </div>
                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <i><img src="{{ url_for('static', filename='images/testimonial-author-4.png') }}" alt="Second Author"></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h4>Dr. Sruti Astir</h4>
                                <p>“A few days ago I had a patient who had a major accident and then experienced huge problem in searching for a healthcare,
                                hostocare in my view is working to improve”</p>
                                <span>MBBS</span>
                            </div>
                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <i><img src="{{ url_for('static', filename='images/testimonial-author-3.png') }}" alt="Author Third"></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h4>Dr. Cyrus Shroff</h4>
                                <p>“Some of my colleagues were thinking that there is no facility to gain proper health data and then we came across
                                hostocare.”</p>
                                <span>Diabetic Retinopathy</span>
                            </div>
                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <i><img src="{{ url_for('static', filename='images/testimonial-author-2.png') }}" alt="Fourth Author"></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <h4>Dr. Manu Bora</h4>
                                <p>"Tech platforms play a huge role in recent times, from sending online payment to booking cabs or ordering food, going
                                with the current necessities, hostocare was inevitable."</p>
                                <span>Surgeon</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->








    <!-- ***** Footer Start ***** -->
    <footer id="contact-us">
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <!-- ***** Contact Form Start ***** -->
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="contact-form">
                            <form id="contact" action="" method="post">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="name" type="text" id="name" placeholder="Full Name" required=""
                                                style="background-color: rgba(250,250,250,0.3);">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="email" type="text" id="email" placeholder="E-Mail Address"
                                                required="" style="background-color: rgba(250,250,250,0.3);">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="message" rows="6" id="message" placeholder="Your Message"
                                                required="" style="background-color: rgba(250,250,250,0.3);"></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="main-button">Send Message
                                                Now</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- ***** Contact Form End ***** -->
                    <div class="right-content col-lg-6 col-md-12 col-sm-12">
                        <h2>Why <em>HostoCare?</em></h2>
                        <p>When a medical emergency happens, it is necessary to save time. Managing medical emergencies promptly can save a life.
                        If your life is in danger , it’s always better to try to remain calm.
                        
                        Time is critical when it is a subject of life and death, and if you are driving yourself to the hospital, not knowing
                        the hardness of your situation, it could result in a deadly outcome.
                        
                        Hostocare services make this possible . Hostocare can be used for emergency cases to check availability of particular
                        Doctors and to check availability of beds etc.</p>
                        <ul class="social">
                            <li><a href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <p>Copyright © 2020-Present | HostoCare | Designed by Team Rocket</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>

    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Plugins -->
    <script src="{{ url_for('static', filename='js/owl-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imgfix.min.js') }}"></script>

    <!-- Global Init -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>
</html>