{% set pagetitle = "Home | Circuit Reboot" %}
{% set page = "home" %}
{% extends "layout.html" %}
{% block body %}

<!-- Page Header -->
<div class="container-fluid p-0">
   
   <div class="row">

<div class="col-12 col-md-6 col-lg-4">
   <div class="card">
      <img class="card-img-top" src="https://hitinfrastructure.com/images/site/article_headers/_normal/hospital.jpg" alt="Unsplash">
      
      
      <div class="card-body">
         <h3 class="mb-0">Hospitals</h3>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
         <a href="#" class="btn btn-primary">Search Hospitals</a>
      </div>
   </div>
</div>

<div class="col-12 col-md-6 col-lg-4">
   <div class="card">
      <img class="card-img-top" src="https://hitinfrastructure.com/images/site/article_headers/_normal/hospital.jpg" alt="Unsplash">
      
      
      <div class="card-body">
         <h3 class="mb-0">Hospitals</h3>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
         <a href="#" class="btn btn-primary">Search Hospitals</a>
      </div>
   </div>
</div>
   </div>



<!-- 
      <div class="col-12 col-lg-12 col-xxl-9 d-flex">
         <div class="card flex-fill">
            <div class="card-header">

               <h5 class="card-title mb-0">Book Class Info</h5>
            </div>
            <table id="table" class="table table-hover my-0 table-responsive">
               <thead>
                  <tr>
                     <td>

                        <button class="btn btn-primary" onclick="exportTableToExcel('table', 'bookfreeclass')">Download
                           Table</button>

                     </td>
                  </tr>
                  <tr>
                     <th>Kid's Name</th>
                     <th>Class</th>
                     <th>Age</th>
                     <th>Parent's Name</th>
                     <th>Contact</th>
                     <th>Email</th>
                     <th>Actions</th>
                     <th>Date</th>
                     <th>Time</th>
                  </tr>
               </thead>
               <tbody>
                 <tr>
               
                  <td>jbkn</td>
                  <td>jnk</td>
                  <td>bj</td>
                  <td>kjb</td>
                  <td><a href="tel:' . $row["parentphone"] . '">kkb</a></td>
                  <td>kbb</td>
                  <td class="table-action">
                     <a href="registeruser.php?id=ighih"><i class="align-middle" data-feather="user-check"></i></a>
                     <a href="deleteuser.php?id=hijoij"><i class="align-middle" data-feather="trash"></i></a>
                  </td>
                  <td>klnkln</td>
                  <td>hjpj</td>
               </tr><tr>
               
                  <td>No Result Found</td></tr>

               </tbody>
            </table>
         </div>
      </div>
-->

</div>



{% endblock %}